@font-face {
  font-family: Teko;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Teko/Teko-VariableFont_wght.ttf");
}
@font-face {
  font-family: Bebas_Neue;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
  font-family: Kanit-Bold;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Bold.ttf");
}
@font-face {
  font-family: Overpass;
  font-family: "Overpass", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body > header p {
  padding: 2px 0 0 10px;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 0 #0d0d5c;
  font-family: Teko;
}

body > header > button {
  position: absolute;
  top: 2px;
  background-color: #f5f5f5;
  border: 2px outset #2e8b57;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

body > header > button.pulsado,
body > header > button:hover {
  background-color: #75a075;
  border-style: inset !important;
}

body > header > button {
  right: 8px;
  background-image: url("../img/botones/btn-mostrar-menu.png");
}

body > header > button.pulsado,
body > header > button:hover {
  background-image: url("../img/botones/btn-mostrar-menu-pulsado.png") !important;
}

@media screen and (max-width: 480px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > header {
    height: 40px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
  body > nav {
    top: 44px;
  }
}
@media screen and (min-width: 981px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
body > nav {
  display: none;
}

body > nav ul {
  list-style: none;
  border-radius: 0 0 4px 0;
}

body > nav ul ul {
  display: none;
  margin-left: 20px;
}

body > nav > ul li:hover > ul,
body > nav > ul li.pulsado > ul {
  display: inherit;
}

body > nav ul > li:not(:first-of-type) {
  border-top: 1px solid #0c680c;
}

body > nav > ul li > a {
  display: block;
  padding: 1vh 2vw;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Kanit-Bold;
}

body > nav > ul {
  position: absolute;
  right: 0;
  border: 0 outset #0c680c;
  border-width: 0 0 2px 2px;
  border-radius: 0 0 0 4px;
}

body > nav > ul > li {
  background-color: #67ce6a;
}

body > nav > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 #133f3f;
}

body > nav > ul > li:hover,
body > nav > ul > li.pulsado {
  background-color: #2e8b57 !important;
}

body > nav > ul > li > ul {
  border: 0 outset #0c680c;
  border-width: 2px 0 0 2px;
  border-radius: 4px 0 0 0;
}

body > nav > ul > li > ul > li {
  background-color: #75a075;
}

body > nav > ul > li > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li:hover,
body > nav > ul > li > ul > li.pulsado {
  background-color: #1ebe1e !important;
}

body > nav > ul > li > ul > li > ul {
  border: 0 outset #0c680c;
  border-width: 2px 0 0 2px;
  border-radius: 4px 0 0 0;
}

body > nav > ul > li > ul > li > ul > li {
  background-color: #c3d4eb;
}

body > nav > ul > li > ul > li > ul > li > a {
  color: #ffae17;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li > ul > li:hover,
body > nav > ul > li > ul > li > ul > li.pulsado {
  background-color: #4657f7 !important;
}

body > nav > ul li {
  position: relative;
}

body > nav > ul > li button.boton-mostrar-submenu {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Kanit-Bold;
}

body > nav > ul > li button.boton-mostrar-submenu {
  padding: 4px 14px;
  border-width: 0 2px 2px 2px;
  border-color: #0c680c;
  border-radius: 0 0 0 7px;
  font-family: Kanit-Bold;
}

body > nav > ul > li:hover button.boton-mostrar-submenu,
button.boton-mostrar-submenu.pulsado {
  border-style: inset;
}

body > nav > ul > li > button {
  color: #f5f5f5;
  background-color: #0c680c;
}

body > nav > ul > li:hover > button,
body > nav > ul > li > button.pulsado {
  background-color: #1ebe1e;
}

body > nav > ul > li > ul > li > button {
  color: #0c680c;
  background-color: #f5f5f5;
}

body > nav > ul > li > ul > li:hover > button,
body > nav > ul > li > ul > li > button.pulsado {
  color: #f5f5f5;
  background-color: #ffae17;
}

@media screen and (max-width: 480px) {
  body > nav > ul {
    min-width: 90vw;
  }
  body > nav > ul > li:nth-of-type(2) > ul > li:last-of-type > ul > li:last-of-type > a {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > nav > ul {
    min-width: 70vw;
  }
}
@media screen and (min-width: 981px) {
  body > nav > ul {
    min-width: 35vw;
  }
}
body {
  width: 100%;
  background-color: #133f3f;
}

header {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1ebe1e;
  border-bottom: 4px solid #0c680c;
}

body > nav {
  z-index: 9;
  position: fixed;
  width: 100%;
}

h1, h2, h3 {
  font-family: Teko;
}

main > section > article p {
  margin: 2vh 2vw;
  color: #0d0d5c;
  font-family: Overpass;
}

main article p b {
  color: #1ebe1e;
  text-shadow: 1px 1px 0 #0d0d5c;
}

main article p a {
  color: #4657f7;
  text-shadow: 1px 1px 0 #133f3f;
  font-family: Overpass;
}

main article p a:hover {
  text-decoration: none;
  color: #ffae17;
  text-shadow: 1px 1px 0 #133f3f;
}

main > section > article ul {
  padding-left: 40px;
  list-style: circle;
  color: #0d0d5c;
  font-family: Overpass;
}

main > section > article ul > li {
  padding-bottom: 10px;
}

footer {
  width: 100%;
  border-top: 0 solid #67ce6a;
}

footer > div p,
footer > div ul,
footer > div a {
  padding: 1vh 1vw;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
  font-family: Kanit;
}

footer > div a {
  padding: 2vh 1vw 1vh 1vw;
  text-decoration: none;
}

footer > div a:hover,
footer > div a:hover > span {
  text-decoration: underline;
}

footer > div ul a:hover {
  color: #ffae17;
  text-decoration: none;
}

.mini, .medio, .grande {
  display: none;
}

@media screen and (max-width: 480px) {
  .mini {
    display: inline-block !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
}
@media screen and (max-width: 480px) {
  footer > div:nth-of-type(3) {
    font-size: 0.8rem;
  }
}
body > figure {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body > figure:first-of-type,
body > figure:nth-of-type(2),
body > figure:nth-of-type(3) {
  position: fixed;
}

body > figure:last-of-type {
  position: absolute;
}

body > figure > figcaption > p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 3px 2px 0 #133f3f;
  font-family: Bebas_Neue;
}

body > figure:last-of-type > figcaption > p {
  background-color: #ffae17;
  border: 0 solid #438f8f;
  border-width: 5px 0 5px 0;
}

body > figure > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../img/fondos/codigo.png");
  background-size: auto;
  background-position: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 4px solid #67ce6a;
}

footer {
  position: relative;
  top: 100vh;
  height: 91vh;
  border-top-width: 10px;
}

footer > div:not(:last-of-type) {
  position: relative;
}

footer > div:last-of-type {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-width: 10px;
  border-top: 0 solid transparent;
  background-color: #2e8b57;
}

@media screen and (max-width: 480px) {
  body > figure > div {
    height: 23.75vh;
  }
  body > figure > figcaption > p {
    top: 10vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 4rem;
  }
  body > figure:last-of-type > figcaption > p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure > div {
    height: 31.6666666667vh;
  }
  body > figure > figcaption > p {
    top: 15vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 8rem;
  }
  body > figure:last-of-type > figcaption > p {
    font-size: 6rem;
  }
}
@media screen and (min-width: 981px) {
  body > figure > div {
    height: 47.5vh;
  }
  body > figure > figcaption > p {
    top: 16vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 12rem;
  }
  body > figure:last-of-type > figcaption > p {
    font-size: 7rem;
  }
}
@media screen and (max-width: 480px) {
  body > main {
    top: 88vh;
  }
}
@media screen and (min-width: 481px) {
  body > main {
    top: 100vh;
  }
}
footer > div:nth-of-type(2) > figure {
  width: 100%;
  margin: 0 auto;
  animation: pc-enciende 2.5s 0s cubic-bezier(1, 0, 0, 1) forwards, pc-escribe-codigo 8s 2.5s infinite ease-in-out;
}

footer > div:nth-of-type(2) > figure > figcaption {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: prompt-parpadea 1s 2s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes prompt-parpadea {
  from {
    background-image: url("../img/anim-footer/prompt-0.png");
  }
  to {
    background-image: url("../img/anim-footer/prompt-1.png");
  }
}
@keyframes pc-enciende {
  0% {
    background-image: url("../img/anim-footer/ordenador-0.png");
  }
  10% {
    background-image: url("../img/anim-footer/ordenador-1.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-2.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png");
  }
}
@keyframes pc-escribe-codigo {
  20% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-0.png");
  }
  30% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-1.png");
  }
  40% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-2.png");
  }
  50% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-3.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-4.png");
  }
  70% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-5.png");
  }
  80% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-6.png");
  }
  90% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-7.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-8.png");
  }
}
footer > div:first-of-type {
  padding: 1vh 0 0 4vw;
}

footer > div:first-of-type ul {
  width: 100%;
}

footer > div:first-of-type > ul {
  list-style: square;
}

footer > div:first-of-type > ul > li > ul {
  list-style: disc;
}

footer > div:first-of-type > ul > li > ul > li > ul {
  list-style: circle;
}

footer > div:nth-of-type(2) {
  text-align: center;
}

body > footer > div:nth-of-type(2) > figure {
  height: 35vh;
  background-image: url("../img/ordenador-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer > div:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer > div:nth-of-type(3) > * {
  display: inline-block;
  min-width: 25%;
  margin: 0 auto;
}

@media screen and (min-width: 481px) {
  footer > div:first-of-type ul {
    margin: 4px 0 0 4px;
  }
  footer > div:first-of-type ul ul {
    margin-left: 8px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) {
    float: right;
    width: 45%;
  }
  footer > div:nth-of-type(3) {
    clear: both;
  }
}
@media screen and (min-width: 981px) {
  footer {
    overflow: hidden;
    font-size: 1.2rem;
  }
  footer div:first-of-type > ul {
    overflow: hidden;
  }
  footer div:first-of-type > ul > li {
    float: left;
    width: 22.5vw;
  }
  footer > div:nth-of-type(2) {
    overflow: hidden;
  }
  footer > div:nth-of-type(2) > figure {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) > div {
    padding-top: 8.75vh;
    float: right;
    width: 50%;
  }
  footer > div:nth-of-type(3) {
    clear: both;
  }
}
main {
  position: relative;
  left: 0;
  width: 100%;
}

main > section {
  position: relative;
  top: 0;
  left: 0;
}

main > section > article {
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
  main > section > article p {
    margin-top: 2vh;
  }
}
body > figure:first-of-type {
  z-index: 1;
  background-image: url("../img/fondos/codigo.png");
  background-repeat: no-repeat;
}

body > figure:nth-of-type(2) {
  z-index: 2;
}

body > figure:nth-of-type(3) {
  z-index: 6;
  background-image: url("../img/siluetas/perfil.png");
  background-repeat: no-repeat;
}

body > figure:last-of-type {
  z-index: 4;
  background-image: url("../img/fondos/parallax_1.jpg");
  background-size: cover;
  background-position: bottom;
}

main > section {
  margin-bottom: 31.6666666667vh;
}

body > main > section > div:last-of-type {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

main > section > article {
  z-index: 6;
  min-height: 95vh;
  padding: 4vh 1vw;
  background-color: #f5f5f5;
  border: 0 solid #67ce6a;
  border-width: 8px 0 8px 0;
}

main > section > article:not(:last-of-type) {
  margin-bottom: 31.6666666667vh;
}

main > section > article p,
main > section > article ul,
main > section > article p a {
  font-size: 1.4rem;
}

footer > div:first-of-type,
footer > div:nth-of-type(3) {
  z-index: 6;
}

footer > div:nth-of-type(2) > figure {
  position: relative;
  z-index: 5;
}

footer > div:nth-of-type(2) > div {
  position: relative;
  z-index: 7 !important;
}

@media screen and (max-width: 480px) {
  body > figure:first-of-type {
    background-size: cover;
    background-position: bottom;
  }
  body > figure:nth-of-type(3) {
    background-size: 100%;
    background-position: left bottom;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure:first-of-type {
    background-size: auto;
    background-position: bottom;
  }
  body > figure:nth-of-type(3) {
    background-size: 70%;
    background-position: left bottom;
  }
}
@media screen and (min-width: 981px) {
  body > figure:first-of-type {
    background-size: cover;
    background-position: top;
  }
  body > figure:nth-of-type(3) {
    background-size: 40%;
    background-position: left bottom;
  }
}
