@font-face {
  font-family: Teko;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Teko/Teko-VariableFont_wght.ttf");
}
@font-face {
  font-family: Bebas_Neue;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
  font-family: Kanit-Bold;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Bold.ttf");
}
@font-face {
  font-family: Overpass;
  font-family: "Overpass", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}
@font-face {
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Merriweather/Merriweather-Regular.ttf");
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body > header p {
  padding: 2px 0 0 10px;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 0 #0d0d5c;
  font-family: Teko;
}

body > header > button {
  position: absolute;
  top: 2px;
  background-color: #f5f5f5;
  border: 2px outset #2e8b57;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

body > header > button.pulsado,
body > header > button:hover {
  background-color: #75a075;
  border-style: inset !important;
}

body > header > button {
  right: 8px;
  background-image: url("../img/botones/btn-mostrar-menu.png");
}

body > header > button.pulsado,
body > header > button:hover {
  background-image: url("../img/botones/btn-mostrar-menu-pulsado.png") !important;
}

@media screen and (max-width: 480px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > header {
    height: 40px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
  body > nav {
    top: 44px;
  }
}
@media screen and (min-width: 981px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
body > nav {
  display: none;
}

body > nav ul {
  list-style: none;
  border-radius: 0 0 4px 0;
}

body > nav ul ul {
  display: none;
  margin-left: 20px;
}

body > nav > ul li:hover > ul,
body > nav > ul li.pulsado > ul {
  display: inherit;
}

body > nav ul > li:not(:first-of-type) {
  border-top: 1px solid #0c680c;
}

body > nav > ul li > a {
  display: block;
  padding: 1vh 2vw;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Kanit-Bold;
}

body > nav > ul {
  position: absolute;
  right: 0;
  border: 0 outset #0c680c;
  border-width: 0 0 2px 2px;
  border-radius: 0 0 0 4px;
}

body > nav > ul > li {
  background-color: #c3d4eb;
}

body > nav > ul > li > a {
  color: #0c680c;
  text-shadow: 1px 1px 0 #4657f7;
}

body > nav > ul > li:hover,
body > nav > ul > li.pulsado {
  background-color: #2e8b57 !important;
}

body > nav > ul > li:hover > a,
body > nav > ul > li.pulsado > a {
  color: #f5f5f5 !important;
}

body > nav > ul > li > ul {
  border: 0 outset #0c680c;
  border-width: 2px 0 0 2px;
  border-radius: 4px 0 0 0;
}

body > nav > ul > li > ul > li {
  background-color: #75a075;
}

body > nav > ul > li > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li:hover,
body > nav > ul > li > ul > li.pulsado {
  background-color: #1ebe1e !important;
}

body > nav > ul > li > ul > li > ul {
  border: 0 outset #0c680c;
  border-width: 2px 0 0 2px;
  border-radius: 4px 0 0 0;
}

body > nav > ul > li > ul > li > ul > li {
  background-color: #67ce6a;
}

body > nav > ul > li > ul > li > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 #133f3f;
}

body > nav > ul > li > ul > li > ul > li:hover,
body > nav > ul > li > ul > li > ul > li.pulsado {
  background-color: #4657f7 !important;
}

body > nav > ul li {
  position: relative;
}

body > nav > ul > li button.boton-mostrar-submenu {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Kanit-Bold;
}

body > nav > ul > li button.boton-mostrar-submenu {
  padding: 4px 14px;
  border-width: 0 2px 2px 2px;
  border-color: #0c680c;
  border-radius: 0 0 0 7px;
  font-family: Kanit-Bold;
}

body > nav > ul > li:hover button.boton-mostrar-submenu,
button.boton-mostrar-submenu.pulsado {
  border-style: inset;
}

body > nav > ul > li > button {
  color: #f5f5f5;
  background-color: #0c680c;
}

body > nav > ul > li:hover > button,
body > nav > ul > li > button.pulsado {
  background-color: #1ebe1e;
}

body > nav > ul > li > ul > li > button {
  color: #0c680c;
  background-color: #f5f5f5;
}

body > nav > ul > li > ul > li:hover > button,
body > nav > ul > li > ul > li > button.pulsado {
  color: #f5f5f5;
  background-color: #ffae17;
}

@media screen and (max-width: 480px) {
  body > nav > ul {
    min-width: 90vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > nav > ul {
    min-width: 70vw;
  }
}
@media screen and (min-width: 981px) {
  body > nav > ul {
    min-width: 35vw;
  }
}
body {
  width: 100%;
  background-color: #133f3f;
}

header {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1ebe1e;
  border-bottom: 4px solid #0c680c;
}

body > nav {
  z-index: 9;
  position: fixed;
  width: 100%;
}

h1, h2, h3 {
  font-family: Teko;
}

main > section > article p {
  margin: 2vh 2vw;
  color: #0d0d5c;
  font-family: Overpass;
}

main article p b {
  color: #1ebe1e;
  text-shadow: 1px 1px 0 #0d0d5c;
}

main article p a {
  color: #4657f7;
  text-shadow: 1px 1px 0 #133f3f;
  font-family: Overpass;
}

main article p a:hover {
  text-decoration: none;
  color: #ffae17;
  text-shadow: 1px 1px 0 #133f3f;
}

main > section > article ul {
  padding-left: 40px;
  list-style: circle;
  color: #0d0d5c;
  font-family: Overpass;
}

main > section > article ul > li {
  padding-bottom: 10px;
}

footer {
  width: 100%;
  border-top: 0 solid #67ce6a;
}

footer > div p,
footer > div ul,
footer > div a {
  padding: 1vh 1vw;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
  font-family: Kanit;
}

footer > div a {
  padding: 2vh 1vw;
  text-decoration: none;
}

footer > div a:hover,
footer > div a:hover > span {
  text-decoration: underline;
}

footer > div ul a:hover {
  color: #ffae17;
  text-decoration: none;
}

.mini, .medio, .grande {
  display: none;
}

@media screen and (max-width: 480px) {
  .mini {
    display: inline-block !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
}
@media screen and (max-width: 480px) {
  main > section > article p {
    text-align: center;
    text-justify: auto;
  }
  footer > div:nth-of-type(3) {
    font-size: 0.8rem;
  }
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../img/fondos/codigo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  position: absolute;
  left: 2vw;
  right: 2vw;
  z-index: 5;
}

main > section > article {
  color: #133f3f;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #1ebe1e;
  border-top: 4px solid #0c680c;
}

footer > div > p {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 480px) {
  main {
    top: 60px;
    bottom: 45px;
  }
  footer > div > * {
    min-width: 45%;
    font-size: 0.7rem;
    text-shadow: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
  main {
    top: 55px;
    bottom: 45px;
  }
  footer > div > * {
    min-width: 30%;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
  main {
    top: 60px;
    bottom: 45px;
  }
  footer > div > * {
    min-width: 30%;
  }
}
main {
  overflow-y: auto;
  background-color: #c3d4eb;
  border: 2px outset darkgoldenrod;
}

h2, h3 {
  color: #0c680c;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  main > section {
    padding: 1vh 1vw;
  }
  main > section > article {
    padding: 0 1vh 2vh 1vw;
  }
  main > section > article:last-of-type {
    padding-bottom: 10vh;
  }
}
@media screen and (min-width: 481px) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  main > section > article {
    padding: 4vh 2vw;
  }
  main > section > article:last-of-type {
    padding-bottom: 20vh;
  }
}