@charset "UTF-8";
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
@font-face {
  font-family: Teko;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Teko/Teko-VariableFont_wght.ttf");
}
@font-face {
  font-family: Bebas_Neue;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
  font-family: Kanit-Bold;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Bold.ttf");
}
@font-face {
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Merriweather/Merriweather-Regular.ttf");
}
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
body > header p {
  padding: 2px 0 0 10px;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 0 #0d0d5c;
  font-family: Teko;
}

body > header > button {
  position: absolute;
  top: 2px;
  background-color: #f5f5f5;
  border: 2px outset #2e8b57;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

body > header > button.pulsado,
body > header > button:hover {
  background-color: #75a075;
  border-style: inset;
}

body > header > button {
  right: 8px;
  background-image: url("../img/botones/btn-mostrar-menu.png");
}

body > header > button.pulsado,
body > header > button:hover {
  background-image: url("../img/botones/btn-mostrar-menu-pulsado.png");
}

@media screen and (max-width: 480px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > header {
    height: 40px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
  body > nav {
    top: 44px;
  }
}
@media screen and (min-width: 981px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
body > nav {
  display: none;
}

body > nav ul {
  list-style: none;
  border-radius: 0 0 4px 0;
}

body > nav ul ul {
  display: none;
  padding-left: 25px;
}

body > nav > ul li:hover > ul,
body > nav > ul li.pulsado > ul {
  display: inherit;
}

body > nav > ul > li a {
  display: block;
  padding: 1vh 2vw;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Kanit-Bold;
}

body > nav > ul {
  position: absolute;
  right: 0;
  border: 0 outset #0c680c;
  border-width: 0 0 2px 2px;
}

body > nav > ul > li {
  background-color: #f5f5f5;
  border-top: 2px outset #0c680c;
}

body > nav > ul > li > a {
  color: #1ebe1e;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li:hover,
body > nav > ul > li.pulsado {
  background-color: #2e8b57;
  border-style: inset;
}

body > nav > ul > li:hover > a,
body > nav > ul > li.pulsado > a {
  color: #f5f5f5;
}

body > nav > ul > li > ul > li {
  background-color: #75a075;
  border: 2px outset #0c680c;
  border-width: 2px 0 0 2px;
}

body > nav > ul > li > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li:hover,
body > nav > ul > li > ul > li.pulsado {
  background-color: #1ebe1e;
  border-style: inset;
}

body > nav > ul > li > ul > li > ul > li {
  background-color: #67ce6a;
  border: 1px outset #133f3f;
}

body > nav > ul > li > ul > li > ul > li > a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li > ul > li:hover,
body > nav > ul > li > ul > li > ul > li.pulsado {
  background-color: #2e5de9;
  border-style: inset;
}

body > nav > ul li {
  position: relative;
}

body > nav > ul > li button.boton-mostrar-submenu {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Kanit-Bold;
}

body > nav > ul > li button.boton-mostrar-submenu {
  padding: 4px 14px;
  border-width: 0 2px 2px 2px;
  border-color: #0c680c;
  border-radius: 0 0 0 7px;
  font-family: Kanit-Bold;
}

body > nav > ul > li:hover button.boton-mostrar-submenu,
button.boton-mostrar-submenu.pulsado {
  border-style: inset;
}

body > nav > ul > li > button {
  color: #f5f5f5;
  background-color: #0c680c;
}

body > nav > ul > li:hover > button,
body > nav > ul > li > button.pulsado {
  background-color: #1ebe1e;
}

body > nav > ul > li > ul > li > button {
  color: #0c680c;
  background-color: #f5f5f5;
}

body > nav > ul > li > ul > li:hover > button,
body > nav > ul > li > ul > li > button.pulsado {
  color: #f5f5f5;
  background-color: #ffae17;
}

@media screen and (max-width: 480px) {
  body > nav > ul {
    min-width: 80vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > nav > ul {
    min-width: 60vw;
  }
}
@media screen and (min-width: 981px) {
  body > nav > ul {
    min-width: 30vw;
  }
}
body {
  width: 100%;
  background-color: #133f3f;
}

header {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1ebe1e;
  border-bottom: 4px solid #0c680c;
}

body > nav {
  z-index: 9;
  position: fixed;
  width: 100%;
}

h1, h2, h3 {
  font-family: Teko;
}

main > section > article p {
  margin: 1vh 2vw;
  color: #0d0d5c;
  font-family: Merriweather;
}

main article p b {
  color: #1ebe1e;
  text-shadow: 1px 1px 0 #0d0d5c;
}

main article p a {
  color: #1ebe1e;
  text-shadow: 1px 1px 0 #133f3f;
  font-family: Merriweather;
}

main article p a:hover {
  text-decoration: none;
  color: #ffae17;
  text-shadow: 1px 1px 0 #133f3f;
}

main > section > article ul {
  padding-left: 40px;
  list-style: circle;
  font-family: Merriweather;
}

main > section > article ul > li {
  padding-bottom: 10px;
}

footer {
  width: 100%;
  border-top: 0 solid #67ce6a;
}

footer > div p,
footer > div ul,
footer > div a {
  padding: 1vh 1vw;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
  font-family: Kanit;
}

footer > div a {
  padding: 2vh 1vw;
  text-decoration: none;
}

footer > div a:hover,
footer > div a:hover > span {
  text-decoration: underline;
}

footer > div ul a:hover {
  color: #ffae17;
  text-decoration: none;
}

.mini, .medio, .grande {
  display: none;
}

@media screen and (max-width: 480px) {
  .mini {
    display: inline-block !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
}
@media screen and (max-width: 480px) {
  footer > div:nth-of-type(3) {
    font-size: 0.7rem;
    text-shadow: none;
  }
}
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
body > figure {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body > figure:first-of-type,
body > figure:nth-of-type(2),
body > figure:nth-of-type(3) {
  position: fixed;
}

body > figure:last-of-type {
  position: absolute;
}

body > figure > figcaption > p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 2px 2px 0 #133f3f;
  background-color: #ffae17;
  border: 0 solid #438f8f;
  border-width: 5px 0 5px 0;
  font-family: Bebas_Neue;
}

figure > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47.5vh;
  background-image: url("../img/fondos/codigo.png");
  background-size: auto;
  background-position: left;
  background-color: #f5f5f5;
  border-bottom: 8px solid #67ce6a;
}

footer {
  position: relative;
  top: 100vh;
  height: 91vh;
  border-top-width: 10px;
}

footer > div:not(:last-of-type) {
  position: relative;
}

footer > div:last-of-type {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-width: 10px;
  border-top: 0 solid transparent;
  background-color: #2e8b57;
}

@media screen and (max-width: 480px) {
  body > figure > figcaption > p {
    top: 25vh;
    font-size: 5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure > figcaption > p {
    top: 18vh;
    font-size: 6rem;
  }
}
@media screen and (min-width: 981px) {
  body > figure > figcaption > p {
    top: 16vh;
    font-size: 7rem;
  }
}
@media screen and (max-width: 480px) {
  body > main {
    top: 88vh;
  }
}
@media screen and (min-width: 481px) {
  body > main {
    top: 100vh;
  }
}
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
footer > div:nth-of-type(2) > figure {
  width: 100%;
  margin: 0 auto;
  animation: pc-enciende 2.5s 0s cubic-bezier(1, 0, 0, 1) forwards, pc-escribe-codigo 8s 2.5s infinite ease-in-out;
}

footer > div:nth-of-type(2) > figure > figcaption {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: prompt-parpadea 1s 2s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes prompt-parpadea {
  from {
    background-image: url("../img/anim-footer/prompt-0.png");
  }
  to {
    background-image: url("../img/anim-footer/prompt-1.png");
  }
}
@keyframes pc-enciende {
  0% {
    background-image: url("../img/anim-footer/ordenador-0.png");
  }
  10% {
    background-image: url("../img/anim-footer/ordenador-1.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-2.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png");
  }
}
@keyframes pc-escribe-codigo {
  20% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-0.png");
  }
  30% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-1.png");
  }
  40% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-2.png");
  }
  50% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-3.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-4.png");
  }
  70% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-5.png");
  }
  80% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-6.png");
  }
  90% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-7.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-8.png");
  }
}
footer > div:first-of-type {
  padding: 1vh 0 0 4vw;
}

footer > div:first-of-type ul {
  width: 100%;
}

footer > div:first-of-type > ul {
  list-style: square;
}

footer > div:first-of-type > ul > li > ul {
  list-style: disc;
}

footer > div:first-of-type > ul > li > ul > li > ul {
  list-style: circle;
}

footer > div:nth-of-type(2) {
  text-align: center;
}

body > footer > div:nth-of-type(2) > figure {
  height: 35vh;
  background-image: url("../img/ordenador-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer > div:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer > div:nth-of-type(3) > * {
  display: inline-block;
  min-width: 25%;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type {
    font-size: 1.2rem;
  }
  footer > div:first-of-type {
    float: left;
    width: 50%;
  }
  footer > div:first-of-type ul {
    margin: 0 0 4vh 1vw;
  }
  footer > div:first-of-type ul ul {
    margin-left: 4vw;
  }
  footer > div:nth-of-type(2) {
    float: right;
    width: 45%;
  }
  footer > div:nth-of-type(3) {
    clear: both;
  }
}
@media screen and (min-width: 981px) {
  footer {
    overflow: hidden;
    font-size: 1.2rem;
  }
  footer div:first-of-type > ul {
    overflow: hidden;
    padding: 1vh 1vw 4vh 1vw;
  }
  footer > div:first-of-type > ul ul {
    padding-left: 4vw;
  }
  footer div:first-of-type > ul > li {
    float: left;
    width: 30vw;
  }
  footer > div:nth-of-type(2) {
    overflow: hidden;
  }
  footer > div:nth-of-type(2) > figure {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) > div {
    padding-top: 8.75vh;
    float: right;
    width: 50%;
  }
  footer > div:nth-of-type(3) {
    clear: both;
  }
}
main {
  position: relative;
  left: 0;
  width: 100%;
}

main > section {
  position: relative;
  top: 0;
  left: 0;
}

main > section > article {
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
  main > section > article p {
    margin-top: 2vh;
  }
}
@media screen and (min-width: 481px) {
  main > section > article p {
    margin-top: 4vh;
  }
}
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de la sección Software de mi sitio web frontend.
 */
body > figure:nth-last-of-type(2) > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body > figure:nth-last-of-type(2) > figcaption > div {
  z-index: 5;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(1),
body > figure:nth-last-of-type(2) > figcaption > div:last-of-type {
  bottom: 0;
  z-index: 6;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(1) {
  left: -10vw;
  left: 0;
  background-image: url("../img/anim-aplicaciones/comebolas-derecha-abierto.png");
}

body > figure:nth-last-of-type(2) > figcaption > div:last-of-type {
  right: 0;
  background-image: url("../img/anim-aplicaciones/fantasma-0.png");
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(2),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(3),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(4),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(5),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(6),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(7),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(8),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(9),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(10),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(11),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(12),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(13),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(14),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(15),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(16),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(17),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(18),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(19),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(20),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(21) {
  background-image: url("../img/anim-aplicaciones/bola.png");
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(2),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(3),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(4),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(5),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(6),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(7),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(8),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(9),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(10),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(11) {
  top: 10vh;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(12),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(13),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(14),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(15),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(16),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(17),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(18),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(19),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(20),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(21) {
  bottom: 0;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(2),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(12) {
  left: 0;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(3),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(13) {
  left: 10vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(4),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(14) {
  left: 20vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(5),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(15) {
  left: 30vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(6),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(16) {
  left: 40vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(7),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(17) {
  left: 50vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(8),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(18) {
  left: 60vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(9),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(19) {
  left: 70vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(10),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(20) {
  left: 80vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(11),
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(21) {
  left: 90vw;
}

body > figure:nth-last-of-type(2) > figcaption > div:first-of-type:hover {
  background-image: url("../img/anim-aplicaciones/comebolas-2.png");
}

body > figure:nth-last-of-type(2) > figcaption > div:last-of-type:hover {
  background-image: url("../img/anim-aplicaciones/fantasma-1.png");
}

@media screen and (max-width: 480px) {
  body > figure:nth-last-of-type(2) > figcaption > div:first-of-type,
  body > figure:nth-last-of-type(2) > figcaption > div:last-of-type {
    height: 10vh;
    width: 15vw;
    background-size: 100%;
  }
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(2),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(3),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(4),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(5),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(6),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(7),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(8),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(9),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(10),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(11),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(12),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(13),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(14),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(15),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(16),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(17),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(18),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(19),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(20),
  body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(21) {
    height: 10vh;
    width: 10vw;
    background-size: 120%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure:nth-last-of-type(2) > figcaption > div {
    height: 10vh;
    width: 10vw;
    background-size: contain;
  }
}
@media screen and (min-width: 981px) {
  body > figure:nth-last-of-type(2) > figcaption > div {
    height: 20vh;
    width: 10vw;
    background-size: contain;
  }
  body > figure:nth-last-of-type(2) > figcaption > div:first-of-type,
  body > figure:nth-last-of-type(2) > figcaption > div:last-of-type {
    background-size: contain;
  }
}
body > figure:nth-last-of-type(2) > figcaption > div:first-of-type {
  left: -20vw;
  animation: comebolas-come-derecha 0.65s 0s infinite cubic-bezier(1, 0, 0, 1), comebolas-va 7s 0s ease-out, comebolas-da-la-vuelta 5s 7s ease-out, comebolas-come-derecha 0.6s 12s infinite cubic-bezier(1, 0, 0, 1), comebolas-vuelve 10s 12s ease-out, comebolas-come-izquierda 0.6s 22s infinite cubic-bezier(1, 0, 0, 1), comebolas-vuelve-a-volver 9s 22s ease-out, comebolas-come-derecha 0.7s 31s infinite cubic-bezier(1, 0, 0, 1), comebolas-continua 8.5s 31s infinite ease-in-out forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:last-of-type {
  right: -20vw;
  animation: fantasma-desaparece 1s forwards, fantasma-va 9.5s 4s infinite forwards ease-out, fantasma-flota 0.5s 7s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes comebolas-come-derecha {
  from {
    background-image: url("../img/anim-aplicaciones/comebolas-derecha-abierto.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/comebolas-derecha-cerrado.png");
  }
}
@keyframes comebolas-come-izquierda {
  from {
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-abierto.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
}
@keyframes comebolas-va {
  0% {
    bottom: 0;
    left: -20vw;
  }
  100% {
    bottom: 0;
    left: 65vw;
  }
}
@keyframes comebolas-da-la-vuelta {
  from {
    bottom: 0;
    left: 65vw;
    background-image: url("../img/anim-aplicaciones/comebolas-gota.png"), url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
  to {
    bottom: 0;
    left: -20vw;
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
}
@keyframes comebolas-vuelve {
  0% {
    top: 10vh;
    left: -20vw;
  }
  100% {
    top: 10vh;
    left: 120vw;
  }
}
@keyframes comebolas-vuelve-a-volver {
  0% {
    bottom: 0;
    left: 120vw;
  }
  100% {
    bottom: 0;
    left: -20vw;
  }
}
@keyframes comebolas-continua {
  0% {
    top: 10vh;
    left: -20vw;
  }
  100% {
    top: 10vh;
    left: 120vw;
  }
}
@keyframes fantasma-desaparece {
  0% {
    display: none;
  }
  100% {
    display: inherit;
  }
}
@keyframes fantasma-flota {
  from {
    background-image: url("../img/anim-aplicaciones/fantasma-1.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/fantasma-2.png");
  }
}
@keyframes fantasma-va {
  0% {
    bottom: 0;
    right: -20vw;
    background-image: url("../img/anim-aplicaciones/fantasma-0.png");
  }
  35% {
    bottom: 0;
    right: 0;
  }
  100% {
    bottom: 0;
    right: 100vw;
  }
}
body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(2) {
  animation: bola-desaparece 0.1s 12.9s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(3) {
  animation: bola-desaparece 0.1s 13.3s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(4) {
  animation: bola-desaparece 0.1s 13.8s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(5) {
  animation: bola-desaparece 0.1s 14.3s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(6) {
  animation: bola-desaparece 0.1s 14.9s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(7) {
  animation: bola-desaparece 0.1s 15.4s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(8) {
  animation: bola-desaparece 0.1s 16s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(9) {
  animation: bola-desaparece 0.1s 16.6s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(10) {
  animation: bola-desaparece 0.1s 17.3s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(11) {
  animation: bola-desaparece 0.1s 18s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(12) {
  animation: bola-desaparece 0.1s 1s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(13) {
  animation: bola-desaparece 0.1s 1.6s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(14) {
  animation: bola-desaparece 0.1s 2.2s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(15) {
  animation: bola-desaparece 0.1s 2.9s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(16) {
  animation: bola-desaparece 0.1s 3.6s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(17) {
  animation: bola-desaparece 0.1s 4.5s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(18) {
  animation: bola-desaparece 0.1s 5.7s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(21) {
  animation: bola-desaparece 0.2s 23.2s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(20) {
  animation: bola-desaparece 0.2s 23.6s forwards;
}

body > figure:nth-last-of-type(2) > figcaption > div:nth-of-type(19) {
  animation: bola-desaparece 0.2s 24s forwards;
}

@keyframes bola-desaparece {
  from {
    background-size: cover;
    background-image: url("../img/anim-aplicaciones/bola.png");
  }
  to {
    background-size: 0;
    background-image: none;
    display: none;
  }
}
body > figure:first-of-type {
  z-index: 2;
  background-image: url("../img/fondos/agujero.png");
  background-repeat: no-repeat;
}

body > figure:nth-of-type(2) {
  z-index: 2;
}

body > figure:nth-of-type(3) {
  z-index: 6;
  background-image: url("../img/dibujos/programador.png");
  background-repeat: no-repeat;
}

body > figure:nth-last-of-type(2) {
  z-index: 6;
  position: fixed;
}

body > figure:last-of-type {
  background-image: url("../img/fondos/parallax_2.jpg");
  background-size: cover;
}

body > figure:last-of-type > div {
  z-index: 1;
  position: relative;
}

body > figure:last-of-type > figcaption {
  z-index: 3;
  position: relative;
}

body > main {
  margin-bottom: 47.5vh;
  background-color: rgba(255, 255, 255, 0.2);
}

body > main > section {
  padding: 47.5vh 0;
  border: 0 solid #2e8b57;
  border-width: 8px 0 8px 0;
}

body > main > section:not(:last-of-type) {
  margin-bottom: 47.5vh;
}

body > main > section > div {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/fondos/codigo.png");
  background-repeat: repeat-y;
  background-color: #f5f5f5;
}

body > main > section > article {
  z-index: 7;
  margin: 47.5vh auto 0 auto;
  padding-bottom: 2vh;
  background-color: #b0c4de;
  border: 2px outset #133f3f;
  border-radius: 4px;
}

body > main > section > article > p > b {
  color: #1ebe1e !important;
}

body > main > section > article > div b {
  color: #2e5de9 !important;
}

h1, h2, h3 {
  text-align: center;
}

body > main h2 {
  z-index: 4;
  position: relative;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 #0d0d5c;
  background-color: #438f8f;
  border: 0 solid #133f3f;
  border-width: 8px 0 8px 0;
}

body > main h3 {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 black;
  background-color: #2e5de9;
  border-bottom: 3px solid #133f3f;
}

body > main > section > article > button {
  margin: 2vh 4vw;
  padding: 1vh 4vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 1px 1px #133f3f;
  background-color: #67ce6a;
  border-style: outset;
}

body > main > section > article > button:hover,
body > main > section > article > button.pulsado {
  background-color: #2e8b57;
  border-style: inset;
}

body > main > section > article > div {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4vh;
  background-color: #f5f5f5;
  border: 2px outset #2e8b57;
  border-radius: 4px;
}

footer > div:first-of-type,
footer > div:nth-of-type(3) {
  z-index: 7;
}

footer > div:nth-of-type(2) > figure {
  position: relative;
  z-index: 5;
}

footer > div:nth-of-type(2) > div {
  position: relative;
  z-index: 8 !important;
}

@media screen and (max-width: 980px) {
  body section h2 {
    padding: 3vh 1vw;
  }
  main > section > div {
    background-size: auto;
    background-position: left;
  }
  main > section > article {
    width: 90%;
  }
  body article h3 {
    padding: 2vh 1vw 1vh 1vw;
  }
}
@media screen and (min-width: 981px) {
  body section h2 {
    padding: 4vh 1vw 2vh 1vw;
  }
  main > section > div {
    background-size: contain;
    background-position: right;
  }
  main > section > article {
    width: 80%;
  }
  body article h3 {
    padding: 1vh 1vw 0 1vw;
  }
}
@media screen and (max-width: 480px) {
  body > figure:first-of-type {
    background-size: cover;
    background-position: center;
  }
  body > figure:nth-of-type(3) {
    background-size: cover;
    background-position: bottom;
  }
  body > figure:last-of-type {
    background-position: left;
  }
  body section h2 {
    font-size: 4rem;
  }
  body article h3 {
    font-size: 3rem;
  }
  body article#my-paint-board-vanilla h3 {
    font-size: 2.7rem;
  }
  main > section > article p,
  main > section > article ul,
  main > section > article p a {
    font-size: 1.4rem;
  }
  footer figure {
    height: 25vh !important;
  }
  footer > div p {
    padding-top: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure:first-of-type {
    background-size: cover;
    background-position: center;
  }
  body > figure:nth-of-type(3) {
    background-size: cover;
    background-position: bottom;
  }
  body > figure:last-of-type {
    background-position: left top;
  }
  body section h2 {
    font-size: 4rem;
  }
  body article h3 {
    font-size: 2rem;
  }
  main > section > article p,
  main > section > article ul,
  main > section > article p a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 981px) {
  body > figure:first-of-type {
    background-size: cover;
    background-position: left;
  }
  body > figure:nth-of-type(3) {
    background-size: contain;
    background-position: bottom;
  }
  body > figure:last-of-type {
    background-position: center;
  }
  body section h2 {
    font-size: 5rem;
  }
  body article h3 {
    font-size: 4rem;
  }
  main > section > article p,
  main > section > article ul,
  main > section > article p a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=software.css.map */
