@charset "UTF-8";
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Una sección del sitio
 *
 *  Fichero CSS con los estilos de una sección de mi sitio web frontend.
 */
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body > header {
  overflow: hidden;
}

body > header p {
  padding: 2px 0 0 10px;
}

body > header > button {
  position: absolute;
  top: 2px;
  background-color: whitesmoke;
  border-color: #006400;
  border-width: 2px 2px 0 0;
  border-style: outset;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

body > header > button:hover {
  background-color: #8fbc8f;
}

body > header > button {
  right: 4px;
  background-image: url("../img/botones/btn-mostrar-menu.png");
}

body > header > button:hover {
  background-image: url("../img/botones/btn-mostrar-menu-pulsado.png");
}

@media screen and (max-width: 480px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > header {
    height: 40px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
  body > nav {
    top: 44px;
  }
}
@media screen and (min-width: 981px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 40px;
    width: 40px;
  }
  body > nav {
    top: 49px;
  }
}
body > nav ul {
  list-style: none;
  border-radius: 0 0 0 4px;
}

body > nav > ul > li a {
  display: block;
  padding: 1vh 4vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

body > nav > ul {
  position: absolute;
  right: 0;
  border: 0 outset #55b559;
  border-width: 0 0 2px 2px;
}

body > nav > ul > li {
  background-color: #006400;
  border: 2px outset #55b559;
}

body > nav > ul > li > a {
  color: whitesmoke;
}

body > nav > ul > li:hover {
  background-color: #00ab00;
}

body > nav > ul > li:hover > a {
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li {
  background-color: #55b559;
  border: 1px outset #006400;
}

body > nav > ul > li > ul > li > a {
  color: whitesmoke;
  text-shadow: 1px 1px 0 black;
}

body > nav > ul > li > ul > li:hover {
  background-color: #b0c4de;
}

body > nav > ul > li > ul > li > ul {
  padding-left: 20px;
}

body > nav > ul > li > ul > li > ul > li {
  background-color: #8fbc8f;
  border: 1px outset #00ab00;
}

body > nav > ul > li > ul > li > ul > li > a {
  color: whitesmoke;
}

body > nav > ul > li > ul > li > ul > li:hover {
  background-color: whitesmoke;
}

body > nav > ul > li > ul > li > ul > li:hover > a {
  color: #006400;
}

body > nav > ul li {
  position: relative;
}

body > nav > ul > li button.boton-mostrar-submenu {
  position: absolute;
  top: 0;
  right: 0;
}

body > nav > ul > li button.boton-mostrar-submenu {
  padding: 4px 14px;
  font-size: 1em;
  font-weight: bold;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 0 7px;
  border-color: #8fbc8f;
}

body > nav > ul > li > button {
  color: #006400;
  background-color: whitesmoke;
}

body > nav > ul > li:hover > button {
  background-color: #8fbc8f;
  border-color: #00ab00;
}

body > nav > ul > li > ul > li > button {
  color: whitesmoke;
  background-color: #006400;
}

body > nav > ul > li > ul > li:hover > button {
  background-color: #00ab00;
}

@media screen and (max-width: 480px) {
  body > nav > ul {
    min-width: 80vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > nav > ul {
    min-width: 50vw;
  }
}
@media screen and (min-width: 981px) {
  body > nav > ul {
    min-width: 30vw;
  }
}
body {
  width: 100%;
  background-color: #133f3f;
}

header {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00ab00;
  border-bottom: 4px solid #006400;
}

header p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 0 black;
}

body > nav {
  z-index: 8;
  position: fixed;
  width: 100%;
}

main {
  width: 100%;
}

main > section > article > p {
  margin: 4vh 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}

main a {
  color: #0a43ee;
}

main a:hover {
  color: #0d0d5c;
  text-decoration: none;
}

footer {
  z-index: 5;
  width: 100%;
  background-color: #00ab00;
  border-top: 4px solid #006400;
}

footer p,
footer ul,
footer a {
  padding: 4px;
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  text-shadow: 2px 1px 0 #133f3f;
}

footer > div a {
  text-decoration: none;
}

footer > div a:hover {
  text-decoration: underline;
  color: #ff9717;
}

.mini, .medio, .grande {
  display: none;
}

@media screen and (max-width: 480px) {
  .mini {
    display: inline-block !important;
  }
  header p,
  figure p,
  h1, h2, h3 {
    font-weight: bold;
    font-family: Consolas, "Courier New", Courier, monospace !important;
  }
  footer > div:last-of-type {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
}
body > figure {
  top: 5vh;
  width: 100%;
}

body > figure:first-of-type,
body > figure:nth-of-type(2),
body > figure:nth-of-type(3) {
  position: fixed;
}

body > figure:last-of-type {
  position: absolute;
}

body > figure:first-of-type {
  background-repeat: no-repeat;
  background-size: auto;
}

body > figure:nth-of-type(2) > figcaption {
  position: absolute;
  top: 5vh;
  width: 100%;
}

body > figure:nth-of-type(2) > figcaption > p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: #ff9717;
}

body > figure > img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}

main {
  position: relative;
  top: 100vh;
  left: 0;
}

main > section {
  position: relative;
  top: 0;
  left: 0;
}

main > section > article {
  z-index: 6;
  position: relative;
  top: 0;
  left: 0;
  min-height: 47.5vh;
}

footer {
  position: relative;
  top: 190vh;
  min-height: 47.5vh;
}

@media screen and (max-width: 480px) {
  body > figure {
    height: 90vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 3rem;
    text-shadow: 2px 2px 0 black;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure {
    height: 95vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 5rem;
    text-shadow: 3px 3px 0 black;
  }
}
@media screen and (min-width: 981px) {
  body > figure {
    height: 95vh;
  }
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 7rem;
    text-shadow: 4px 4px 0 black;
  }
}
footer > div > figure {
  height: 35vh;
  width: 100%;
  margin: 0 auto;
  animation: pc-enciende 2.5s 0s cubic-bezier(1, 0, 0, 1) forwards, pc-escribe-codigo 8s 2.5s infinite ease-in-out;
}

footer > div > figure > figcaption {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: prompt-parpadea 1s 2s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes prompt-parpadea {
  from {
    background-image: url("../img/anim-footer/prompt-0.png");
  }
  to {
    background-image: url("../img/anim-footer/prompt-1.png");
  }
}
@keyframes pc-enciende {
  0% {
    background-image: url("../img/anim-footer/ordenador-0.png");
  }
  10% {
    background-image: url("../img/anim-footer/ordenador-1.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-2.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png");
  }
}
@keyframes pc-escribe-codigo {
  20% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-0.png");
  }
  30% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-1.png");
  }
  40% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-2.png");
  }
  50% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-3.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-4.png");
  }
  70% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-5.png");
  }
  80% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-6.png");
  }
  90% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-7.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-8.png");
  }
}
footer {
  min-height: 60vh;
}

footer > div {
  font-weight: bold;
}

footer > div:first-of-type {
  padding: 1vh 0 0 4vw;
}

footer > div:first-of-type > ul {
  list-style: disc;
}

footer > div:first-of-type > ul > li > ul {
  list-style: square;
}

footer > div:first-of-type > ul > li > ul > li > ul {
  list-style: circle;
}

footer > div:nth-of-type(2) {
  text-align: center;
}

body > footer > div:nth-of-type(2) > figure {
  background-image: url("../img/ordenador-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer > div:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1vh;
  text-align: center;
}

@media screen and (min-width: 481px) and (max-width: 980px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type {
    float: left;
    width: 50%;
  }
  footer > div:first-of-type ul {
    padding: 0 0 4vh 1vw;
  }
  footer > div:first-of-type ul ul {
    padding-left: 4vw;
  }
  footer > div:nth-of-type(2) {
    float: right;
    width: 45%;
  }
  footer > div:last-of-type {
    clear: both;
  }
}
@media screen and (min-width: 981px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type > ul {
    padding: 1vh 1vw 4vh 1vw;
  }
  footer > div:first-of-type > ul ul {
    padding-left: 4vw;
  }
  footer div:first-of-type > ul:nth-of-type(2) {
    overflow: hidden;
  }
  footer div:first-of-type > ul:nth-of-type(2) > li {
    float: left;
    width: 33.3333333333vw;
  }
  footer > div:nth-of-type(2) {
    overflow: hidden;
  }
  footer > div:nth-of-type(2) > figure {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) > div {
    padding-top: 8.75vh;
    float: right;
    width: 50%;
  }
  footer > div:last-of-type {
    clear: both;
  }
}
header {
  border-bottom-width: 4px;
}

main > section > article {
  color: #0d0d5c;
}

footer {
  border-top-width: 10bpx;
}

body > figure:nth-of-type(3) > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body > figure:nth-of-type(3) > figcaption > div {
  z-index: 5 !important;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(1),
body > figure:nth-of-type(3) > figcaption > div:last-of-type {
  bottom: 0;
  z-index: 6 !important;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(1) {
  left: -10vw;
  left: 0;
  background-image: url("../img/anim-aplicaciones/comebolas-derecha-abierto.png");
}

body > figure:nth-of-type(3) > figcaption > div:last-of-type {
  right: 0;
  background-image: url("../img/anim-aplicaciones/fantasma-0.png");
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(2),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(3),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(4),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(5),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(6),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(7),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(8),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(9),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(10),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(11),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(12),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(13),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(14),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(15),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(16),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(17),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(18),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(19),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(20),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(21) {
  background-image: url("../img/anim-aplicaciones/bola.png");
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(2),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(3),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(4),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(5),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(6),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(7),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(8),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(9),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(10),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(11) {
  top: 10vh;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(12),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(13),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(14),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(15),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(16),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(17),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(18),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(19),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(20),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(21) {
  bottom: 0;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(2),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(12) {
  left: 0;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(3),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(13) {
  left: 10vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(4),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(14) {
  left: 20vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(5),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(15) {
  left: 30vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(6),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(16) {
  left: 40vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(7),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(17) {
  left: 50vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(8),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(18) {
  left: 60vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(9),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(19) {
  left: 70vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(10),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(20) {
  left: 80vw;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(11),
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(21) {
  left: 90vw;
}

body > figure:nth-of-type(3) > figcaption > div:first-of-type:hover {
  background-image: url("../img/anim-aplicaciones/comebolas-2.png");
}

body > figure:nth-of-type(3) > figcaption > div:last-of-type:hover {
  background-image: url("../img/anim-aplicaciones/fantasma-1.png");
}

@media screen and (max-width: 480px) {
  body > figure:nth-of-type(3) > figcaption > div {
    height: 10vh;
    width: 10vh;
  }
  body > figure:nth-of-type(3) > figcaption > div:first-of-type,
  body > figure:nth-of-type(3) > figcaption > div:last-of-type {
    background-size: 80%;
  }
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(2),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(3),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(4),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(5),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(6),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(7),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(8),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(9),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(10),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(11),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(12),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(13),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(14),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(15),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(16),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(17),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(18),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(19),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(20),
  body > figure:nth-of-type(3) > figcaption > div:nth-of-type(21) {
    background-size: 70%;
  }
}
@media screen and (min-width: 481px) {
  body > figure:nth-of-type(3) > figcaption > div {
    height: 10vh;
    width: 10vw;
    background-size: contain;
  }
}
body > figure:nth-of-type(3) > figcaption > div:first-of-type {
  left: -20vw;
  animation: comebolas-come-derecha 0.65s 0s infinite cubic-bezier(1, 0, 0, 1), comebolas-va 7s 0s ease-out, comebolas-da-la-vuelta 5s 7s ease-out, comebolas-come-derecha 0.6s 12s infinite cubic-bezier(1, 0, 0, 1), comebolas-vuelve 10s 12s ease-out, comebolas-come-izquierda 0.6s 22s infinite cubic-bezier(1, 0, 0, 1), comebolas-vuelve-a-volver 9s 22s ease-out, comebolas-come-derecha 0.7s 31s infinite cubic-bezier(1, 0, 0, 1), comebolas-continua 8.5s 31s infinite ease-in-out forwards;
}

body > figure:nth-of-type(3) > figcaption > div:last-of-type {
  right: -20vw;
  animation: fantasma-desaparece 1s forwards, fantasma-va 9.5s 4s infinite forwards ease-out, fantasma-flota 0.5s 7s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes comebolas-come-derecha {
  from {
    background-image: url("../img/anim-aplicaciones/comebolas-derecha-abierto.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/comebolas-derecha-cerrado.png");
  }
}
@keyframes comebolas-come-izquierda {
  from {
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-abierto.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
}
@keyframes comebolas-va {
  0% {
    bottom: 0;
    left: -20vw;
  }
  100% {
    bottom: 0;
    left: 65vw;
  }
}
@keyframes comebolas-da-la-vuelta {
  from {
    bottom: 0;
    left: 65vw;
    background-image: url("../img/anim-aplicaciones/comebolas-gota.png"), url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
  to {
    bottom: 0;
    left: -20vw;
    background-image: url("../img/anim-aplicaciones/comebolas-izquierda-cerrado.png");
  }
}
@keyframes comebolas-vuelve {
  0% {
    top: 10vh;
    left: -20vw;
  }
  100% {
    top: 10vh;
    left: 120vw;
  }
}
@keyframes comebolas-vuelve-a-volver {
  0% {
    bottom: 0;
    left: 120vw;
  }
  100% {
    bottom: 0;
    left: -20vw;
  }
}
@keyframes comebolas-continua {
  0% {
    top: 10vh;
    left: -20vw;
  }
  100% {
    top: 10vh;
    left: 120vw;
  }
}
@keyframes fantasma-desaparece {
  0% {
    display: none;
  }
  100% {
    display: inherit;
  }
}
@keyframes fantasma-flota {
  from {
    background-image: url("../img/anim-aplicaciones/fantasma-1.png");
  }
  to {
    background-image: url("../img/anim-aplicaciones/fantasma-2.png");
  }
}
@keyframes fantasma-va {
  0% {
    bottom: 0;
    right: -20vw;
    background-image: url("../img/anim-aplicaciones/fantasma-0.png");
  }
  35% {
    bottom: 0;
    right: 0;
  }
  100% {
    bottom: 0;
    right: 100vw;
  }
}
body > figure:nth-of-type(3) > figcaption > div:nth-of-type(2) {
  animation: bola-desaparece 0.1s 12.9s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(3) {
  animation: bola-desaparece 0.1s 13.3s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(4) {
  animation: bola-desaparece 0.1s 13.8s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(5) {
  animation: bola-desaparece 0.1s 14.3s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(6) {
  animation: bola-desaparece 0.1s 14.9s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(7) {
  animation: bola-desaparece 0.1s 15.4s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(8) {
  animation: bola-desaparece 0.1s 16s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(9) {
  animation: bola-desaparece 0.1s 16.6s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(10) {
  animation: bola-desaparece 0.1s 17.3s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(11) {
  animation: bola-desaparece 0.1s 18s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(12) {
  animation: bola-desaparece 0.1s 1s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(13) {
  animation: bola-desaparece 0.1s 1.6s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(14) {
  animation: bola-desaparece 0.1s 2.2s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(15) {
  animation: bola-desaparece 0.1s 2.9s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(16) {
  animation: bola-desaparece 0.1s 3.6s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(17) {
  animation: bola-desaparece 0.1s 4.5s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(18) {
  animation: bola-desaparece 0.1s 5.7s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(21) {
  animation: bola-desaparece 0.2s 23.2s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(20) {
  animation: bola-desaparece 0.2s 23.6s forwards;
}

body > figure:nth-of-type(3) > figcaption > div:nth-of-type(19) {
  animation: bola-desaparece 0.2s 24s forwards;
}

@keyframes bola-desaparece {
  from {
    background-size: cover;
    background-image: url("../img/anim-aplicaciones/bola.png");
  }
  to {
    background-size: 0;
    background-image: none;
    display: none;
  }
}
body > figure:first-of-type {
  z-index: 2;
  background-image: url("../img/agujero.png");
  background-size: auto;
  background-position: center;
}

body > figure:nth-of-type(2) {
  z-index: 4;
}

body > figure:nth-of-type(3) {
  z-index: 6;
}

body > figure:nth-of-type(2) > figcaption {
  top: 20vh;
}

body > figure:last-of-type {
  z-index: 5;
}

main > section {
  padding-bottom: 20vh;
  margin-bottom: 60vh;
  background-color: whitesmoke;
  border: 8px solid #00ab00;
  border-width: 8px 0 8px 0;
}

main > section > div {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/codigo.png");
  background-size: auto;
  background-position: center;
}

main > section > article {
  width: 90%;
  margin: 30vh auto;
  padding-bottom: 5vh;
  background-color: #b0c4de;
  border: 4px solid #133f3f;
  border-radius: 8px;
}

h1, h2, h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

main h2 {
  z-index: 4;
  position: relative;
  top: 15vh;
  padding: 2vh 1vw;
  font-size: 4rem;
  color: #133f3f;
  text-shadow: 2px 1px 0 #ff9717;
  background-color: #8fbc8f;
  border: 8px solid #133f3f;
  border-width: 8px 0 8px 0;
}

main h3 {
  padding: 1vh 1vw;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 3px 2px 0 black;
  background-color: #0a43ee;
  border-bottom: 4px solid #133f3f;
}
