@charset "UTF-8";
/** Andrés Fernández Burón
 *  Noviembre de 2021
 *
 *  Copyright 2021 (C)
 * 
 *  Aplicación Web Frontend
 *  Mi sitio web
 *  Sección de inicio
 *
 *  Fichero CSS con los estilos de la página de inicio de mi sitio web frontend.
 */
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body > header {
  overflow: hidden;
}

body > header p {
  padding: 4px 0 0 14px;
}

body > header > button {
  position: absolute;
  top: 5px;
  background-color: whitesmoke;
  border-color: #006400;
  border-width: 2px 2px 0 0;
  border-style: outset;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

body > header > button:hover {
  background-color: #8fbc8f;
}

body > header > button:last-of-type {
  right: 5px;
  background-image: url("../img/botones/btn-mostrar-menu.png");
}

body > header > button:last-of-type:hover {
  background-image: url("../img/botones/btn-mostrar-menu-pulsado.png");
}

@media screen and (max-width: 480px) {
  body > header {
    height: 50px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > header {
    height: 40px;
  }
  body > header > button {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 981px) {
  body > header {
    height: 45px;
  }
  body > header > button {
    height: 35px;
    width: 35px;
  }
}
body > nav {
  display: none;
}

body > nav ul {
  list-style: none;
}

body > nav ul ul {
  display: none;
}

body > nav > ul > li a {
  display: block;
  padding: 1vh 0 1vh 7vw;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav > ul {
  position: absolute;
  right: 0;
  border: 0 solid #006400;
  border-width: 0 0 2px 4px;
}

nav > ul > li {
  background-color: whitesmoke;
  border-bottom: 2px solid #00ab00;
}

nav > ul > li > a {
  color: #006400;
}

body > nav > ul > li:hover {
  background-color: #006400;
}

body > nav > ul > li:hover > a {
  color: whitesmoke;
}

body > nav > ul > li > ul {
  margin: 0 0 0 1vw;
  border-left: 1px solid #006400;
}

body > nav > ul > li > ul > li {
  background-color: #8fbc8f;
  border-top: 1px solid #006400;
}

body > nav > ul > li > ul > li > a {
  color: whitesmoke;
}

body > nav > ul > li > ul > li:hover {
  background-color: #55b559;
}

nav > ul li {
  position: relative;
}

nav > ul > li button.boton-mostrar-submenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 6px;
  font-size: 1em;
  font-weight: bold;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 5px 5px;
}

body > nav > ul > li button.boton-mostrar-submenu {
  color: #006400;
  background-color: #8fbc8f;
  border-color: #00ab00;
}

body > nav > ul > li:hover button.boton-mostrar-submenu {
  background-color: whitesmoke;
  border-color: #8fbc8f;
}

@media screen and (max-width: 480px) {
  body > nav {
    top: 55px;
  }
  nav > ul > li a {
    padding: 1vh 4vw;
  }
  nav > ul {
    width: 80%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > nav {
    top: 44px;
  }
  nav > ul > li a {
    padding: 1vh 2vw;
  }
  nav > ul {
    min-width: 50%;
  }
}
@media screen and (min-width: 981px) {
  body > nav {
    top: 49px;
  }
  nav > ul {
    width: 20%;
  }
  body > nav > ul > li a {
    padding: 1vh 2vw;
  }
}
body {
  width: 100%;
  background-color: #133f3f;
}

header {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00ab00;
  border-bottom: 4px solid #006400;
}

header p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 black;
}

body > nav {
  z-index: 8;
  position: fixed;
  width: 100%;
}

main {
  width: 100%;
}

main > section > article > p {
  margin: 4vh 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}

footer {
  width: 100%;
  background-color: #00ab00;
  border-top: 4px solid #006400;
}

footer p,
footer ul,
footer a {
  padding: 2px 4px;
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  text-shadow: 2px 1px 0 #133f3f;
}

footer > div a {
  text-decoration: none;
}

footer > div a:hover {
  text-decoration: underline;
}

.mini, .medio, .grande {
  display: none;
}

@media screen and (max-width: 480px) {
  .mini {
    display: inline-block !important;
  }
  header p,
  figure p,
  h1, h2, h3 {
    font-weight: bold;
    font-family: Consolas, "Courier New", Courier, monospace !important;
  }
  footer > div:last-of-type {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .medio {
    display: inline-block !important;
  }
}
@media screen and (min-width: 981px) {
  .grande {
    display: inline-block !important;
  }
}
body > figure {
  top: 0;
  height: 90vh;
  width: 100%;
}

body > figure:first-of-type,
body > figure:nth-of-type(2),
body > figure:nth-of-type(3) {
  position: fixed;
}

body > figure:last-of-type {
  position: absolute;
}

body > figure:first-of-type {
  background-repeat: no-repeat;
  background-size: auto;
}

body > figure:nth-of-type(2) > figcaption {
  position: absolute;
  top: 10vh;
  width: 100%;
}

body > figure:nth-of-type(2) > figcaption > p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #ff9717;
}

body > figure:last-of-type > img {
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  position: relative;
  top: 90vh;
  left: 0;
}

main > section {
  position: relative;
  top: 0;
  left: 0;
  min-height: 90vh;
}

main > section > article {
  z-index: 5;
  position: relative;
  top: 0;
  left: 0;
  min-height: 45vh;
  border: 4px solid #133f3f;
  border-radius: 4px;
}

footer {
  z-index: 4;
  position: relative;
  top: 150vh;
  min-height: 45vh;
}

@media screen and (max-width: 480px) {
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 3rem;
    text-shadow: 2px 2px 0 black;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 5rem;
    text-shadow: 3px 3px 0 black;
  }
}
@media screen and (min-width: 981px) {
  body > figure:nth-of-type(2) > figcaption > p {
    font-size: 7rem;
    text-shadow: 4px 4px 0 black;
  }
}
footer > div > figure {
  height: 35vh;
  width: 100%;
  margin: 0 auto;
  animation: pc-enciende 2.5s 0s cubic-bezier(1, 0, 0, 1) forwards, pc-escribe-codigo 8s 2.5s infinite ease-in-out;
}

footer > div > figure > figcaption {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: prompt-parpadea 1s 2s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes prompt-parpadea {
  from {
    background-image: url("../img/anim-footer/prompt-0.png");
  }
  to {
    background-image: url("../img/anim-footer/prompt-1.png");
  }
}
@keyframes pc-enciende {
  0% {
    background-image: url("../img/anim-footer/ordenador-0.png");
  }
  10% {
    background-image: url("../img/anim-footer/ordenador-1.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-2.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png");
  }
}
@keyframes pc-escribe-codigo {
  20% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-0.png");
  }
  30% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-1.png");
  }
  40% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-2.png");
  }
  50% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-3.png");
  }
  60% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-4.png");
  }
  70% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-5.png");
  }
  80% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-6.png");
  }
  90% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-7.png");
  }
  100% {
    background-image: url("../img/anim-footer/ordenador-3.png"), url("../img/anim-footer/codigo-8.png");
  }
}
footer {
  min-height: 60vh;
}

footer > div {
  font-weight: bold;
}

footer > div:first-of-type ul {
  padding: 1vh 0 0 4vw;
  list-style: square;
}

footer > div:nth-of-type(2) {
  text-align: center;
}

body > footer > div:nth-of-type(2) > figure {
  background-image: url("../img/ordenador-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer > div:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1vh;
  text-align: center;
}

@media screen and (min-width: 481px) and (max-width: 980px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) {
    float: right;
    width: 50%;
  }
}
@media screen and (min-width: 981px) {
  footer {
    overflow: hidden;
  }
  footer > div:first-of-type {
    float: left;
    width: 50%;
  }
  footer > div:nth-of-type(2) {
    float: right;
    width: 50%;
  }
}
header {
  border-bottom-width: 4px;
}

main > section > article {
  color: #0d0d5c;
  background-color: #b0c4de;
}

footer {
  border-top-width: 5px;
}

body > figure:first-of-type {
  z-index: 2;
  background-image: url("../img/codigo.png");
  background-size: auto;
  background-position: bottom;
}

body > figure:nth-of-type(2) {
  z-index: 4;
}

body > figure:last-of-type {
  z-index: 5;
  border-bottom: 10px solid #b0c4de;
}

body > figure > img {
  height: 100%;
  width: 100%;
}

main {
  border-bottom: 8px solid #b0c4de;
}

main > div {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/codigo.png");
  background-size: auto;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
}

main > section {
  padding: 15vh 0;
}

main > section > article {
  width: 90%;
  margin: 0 auto;
}

main > section > article:not(:last-of-type) {
  margin-bottom: 30vh;
}
